<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtmll-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <title>用户财务信息</title>
    <link rel="stylesheet" th:href="@{/css/layui.css}" href="../../static/css/layui.css" media="all" />
</head>
<body>
<!--***********************************************************主体开始!!!!!!!!!!!!!!!-->
<!--***********************************************************条件查询div-->
<div class="search-item layui-form">
<div class="test-table-reload-btn" style="margin: 20px;">
    账户号：
    <div class="layui-inline">
        <input class="layui-input" name="acntno" id="acntno"
               autocomplete="off">
    </div>

    账户姓名：
    <div class="layui-inline">
        <input class="layui-input" name="acntname" id="acntname"
               autocomplete="off">
    </div>
    电话号码：
    <div class="layui-inline" >
        <input class="layui-input" name="mobileno" id="mobileno"
               autocomplete="off">
    </div>

    <button class="layui-btn" data-type="reload">搜索</button>


</div>
<!--***********************************************************显示表格table-->
<table id="demo" lay-filter="test"></table>
</div>

<script type="text/javascript" th:inline="javascript" th:src="@{/layui.js}" src="../../static/layui.js"></script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">详情</a>
</script>

<script type="text/javascript" th:inline="javascript">
    layui.use(['layer', 'jquery','table', 'element','upload'], function(){
        var $ = layui.$
            ,layer = layui.layer;
        var table  = layui.table;
        var upload = layui.upload;
        //第一个实例
        table.render({
            elem: '#demo'
            ,height: 473
            ,url: '/admin/acntinfoall' //数据接口
            ,page: true //开启分页
            ,id: 'idTest' //表单名字
            ,cols: [
                [ //表头
                {field:'acntNo', title: '账户号',  sort: true, fixed: 'left' ,width:180}
                    ,{field: 'acntName', title: '账户姓名', sort: true}
                    ,{field: 'acntBalan', title: '账户余额', sort: true}
                    ,{field: 'availBalan', title: '可用余额',  sort: true }
                    ,{field: 'freezeBalan', title: '冻结金额'}
                    ,{field: 'mobileNo', title: '电话号码',  sort: true}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
                    ]
            ]
        });
        var $ = layui.$, active = {
            reload: function(){
                var acntno = $('#acntno');
                var acntname = $('#acntname');
                var mobileno = $('#mobileno');
        table.reload('idTest', {
            url : '/admin/acntinfoselect'
            , where: { //设定异步数据接口的额外参数，任意设
                acntno : acntno.val(),
                acntname : acntname.val(),
                mobileno: mobileno.val(),
                //…
            }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
            }
        };
        $('.test-table-reload-btn .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });


</script>

</body>
</html>